---
---

<div class="fixed bottom-0 left-0 w-full p-4 lg:hidden z-50 bg-gradient-to-t from-pearl pt-10 to-transparent">
    <a href="#agendamento" class="flex items-center justify-center gap-2 w-full py-4 bg-rose text-pearl font-semibold rounded-2xl shadow-2xl" rel="nofollow" data-i18n="mobileCta">
        <i class="ph-fill ph-calendar-plus text-xl"></i> Agendar Avaliação
    </a>
</div>
